@font-face {
    font-family: FRABK;
    src: url('~/static/fonts/FRABK.TTF')format('truetype');
}

@font-face {
    font-family: FRABKIT;
    src: url('~/static/fonts/FRABKIT.TTF')format('truetype');
}

@font-face {
    font-family: FRADM;
    src: url('~/static/fonts/FRADM.TTF')format('truetype');
}

@font-face {
    font-family: FRADMCN;
    src: url('~/static/fonts/FRADMCN.TTF')format('truetype');
}

@font-face {
    font-family: FRADMIT;
    src: url('~/static/fonts/FRADMIT.TTF')format('truetype');
}

@font-face {
    font-family: FRAHV;
    src: url('~/static/fonts/FRAHV.TTF')format('truetype');
}

@font-face {
    font-family: FRAHVIT;
    src: url('~/static/fonts/FRAHVIT.TTF')format('truetype');
}

@font-face {
    font-family: FRAMD;
    src: url('~/static/fonts/FRAMD.TTF')format('truetype');
}


@font-face {
    font-family: FRAMDCN;
    src: url('~/static/fonts/FRAMDCN.TTF')format('truetype');
}

@font-face {
    font-family: FRAMDIT;
    src: url('~/static/fonts/FRAMDIT.TTF')format('truetype');
}

@font-face {
    font-family: GOTHIC;
    src: url('~/static/fonts/GOTHIC.TTF')format('truetype');
}

@font-face {
    font-family: GOTHICB;
    src: url('~/static/fonts/GOTHICB.TTF')format('truetype');
}

@font-face {
    font-family: GOTHICBI;
    src: url('~/static/fonts/GOTHICBI.TTF')format('truetype');
}

@font-face {
    font-family: GOTHICI;
    src: url('~/static/fonts/GOTHICI.TTF')format('truetype');
}

@font-face {
    font-family: LAROBOLD;
    src: url('~/static/fonts/LARO-BOLD.OTF')format('truetype');
}

@font-face {
    font-family: LAROEXTRABOLD;
    src: url('~/static/fonts/LARO-EXTRABOLD.OTF')format('truetype');
}