@import 'fonts';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
 
.container-hf{
    max-width: 1728px;
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

.title-ov{
    font-size: 68px;
    margin-bottom: 80px;
    color: #B99F6E;
    font-family: GOTHICB;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .nav-items{
        display: flex;
        gap: 24px;
        a{
            font-size: 19px;
            color: #435060;
            position: relative;
            font-family: GOTHIC;
            &.active{
                color: #B99F6E;
                font-style: italic;
                &::before{
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 10px;
                    top: -7px;
                    left: -10px;
                    background-color: #B99F6E;
                }
            }
        }
    }
    .talk-btn{
        button{
            padding: 15px 35px;
            color: #fff;
            font-size: 19px;
            border: none;
            background-color: #B99F6E;
            font-family: GOTHICBI;
            cursor: pointer;
        }
    }
}

.footer-wrapper{
    background-color: #435060;
    .container-hf{
        padding: 80px 0;
        display: flex;
        gap: 20px;
        .right-f{
            img{
                width: 80%;
            }
        }
        .left-f{
            h2{
                font-size: 68px;
                margin-bottom: 60px;
                color: #B99F6E;
                font-family: GOTHICB;
                text-align: left;
            }
            .links-f{
                display: grid;
                grid-template-columns: 350px 350px;
                grid-row: auto auto;
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                .link{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    font-size: 19px;
                    font-weight: 600;
                    color: #fff;
                    font-family: GOTHICB;
                    letter-spacing: 1.5px;
                    &.send-msg-btn{
                        border: none;
                        background-color: #B99F6E;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                    }
                }
            }
        }
    }
}


.about-section{
    background-color: #E8E8E8;
    padding: 120px 0;
   .container{
        h2{
            text-shadow: #E8E8E8 2.5px 3px 0px, #B99F6E 3px 4px 0px;
        }
        .about-descs{
            display: flex;
            gap: 80px;
            justify-content: space-between;
            margin-top: 35px;
            .left-text, .right-text{
                flex: 1;
                p{
                    font-family: GOTHIC;
                    font-size: 19px;
                    line-height: 25px;
                    margin-bottom: 25px;
                    color: #435060;
                }
            }
        }
   } 
}


.skills-section{
    background-color: #435060;
    padding: 120px 0;
    .container{
        h2{
            text-shadow: #435060 2.5px 3px 0px, #B99F6E 3px 4px 0px;
        }
      .skills-list{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 475px));
        gap: 60px;
        justify-content: space-between;
        margin-bottom: 65px;
        .skill-item{
            p{
                display: flex;
                justify-content: space-between;
                font-family: GOTHICB;
                font-size: 28px;
                line-height: 32px;
                color: #fff;
                letter-spacing: 1.5px;
                margin-bottom: 15px;
                span{
                    font-style: italic;
                }
            }
            .progress-bar-wrapper{
                height: 25px;
                width: 100%;
                border-radius: 15px;
                border: 1px solid #fff;
                position: relative;
                .prog-bar{
                    width: 85%;
                    height: 25px;
                    background-color: #B99F6E;
                    border-radius: 15px;
                    position: absolute;
                    top: -1px;
                    left: -1px;
                }
            }
        }
      }
      .skills-icons{
        display: flex;
        gap: 15px;
        justify-content: end;
      }  
    }
}

.works-section{
    padding: 120px 0;
    background-color: #E8E8E8;
    .container{
        h2{
           color: #435060; 
           text-shadow: #E8E8E8 2.5px 3px 0px, #435060 3px 4px 0px;
        }
    }
}